body,html{
    margin:0;
    padding:0;
}
.el-header, .el-footer {
    background-color: #34b6f6;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
}
.el-header{
    font-size: 24px;
}